@use '@/shared/scss/abstracts/breakpoints' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 7.2rem;
  padding: 3.5rem 1rem 9.6rem;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}

.title {
  font: var(--font-h2);
  letter-spacing: -0.05em;
  color: var(--color-label-neutral-primary);
  transition: color 0.3s;
}

.features {
  font: var(--font-text-large);
  color: var(--color-label-neutral-secondary);
  transition: color 0.3s;
}

.image {
  width: 100%;
}

@include past-tablet {
  .wrapper {
    gap: 11rem;
    padding: 6.5rem 5.7rem 13rem;
  }

  .info {
    gap: 2rem;
  }

  .title {
    letter-spacing: -0.04em;
  }
}

@include past-desktop {
  .wrapper {
    max-width: 144rem;
    margin: 0 auto;
    padding: 5.7rem 12rem 14.8rem;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    align-items: center;
  }

  .info {
    text-align: start;
  }

  .title {
    letter-spacing: -0.03em;
  }

  .features {
    max-width: 57.4rem;
  }
}

[data-theme='dark'] {
  .title {
    color: var(--color-label-neutral-inverted-primary);
  }

  .features {
    color: var(--color-interactive-neutral-active-secondary);
  }
}
