.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.4rem 1.6rem;

  // Сейчас всё сделано по макету
  // Но по хорошему в desktop-версии новости должны быть в 3 колонки, а баннер внизу
  // Иначе при большом количестве новостей баннер расползается
  grid-template-columns: 1fr 1fr; // Эту строчку нужно удалить
}

@media (max-width: 1200px) {
  .list {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media (max-width: 720px) {
  .list {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
}
