@use '@/shared/scss/mixins/font-sizes' as *;
@use '@/shared/scss/mixins/utils' as *;
@use '@/shared/scss/mixins/media-breakpoints' as *;

.wrapper {
    padding: .8rem .8rem 1.4rem .8rem;
    outline: 0.1rem solid transparent;
    border: 0.1rem solid var(--border-neutral-base);
    border-radius: var(--radius-4xl);
    background: #FFFFFF;
    max-width: 30rem;
    width: 100%;
    height: auto;
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
    transition: .3s ease;

    .info {
        @include TextS;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .imageWrapper {
        height: 18.4rem;
        min-height: 18.4rem;
        width: 100%;
        border-radius: var(--radius-3xl);
        overflow: hidden;
        background: var(--labels-neutral-quanternary);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        padding-inline: .8rem;

        .title {
            @include H4;
        }

        .description {
            color: var(--labels-neutral-secondary);
            @include TextM;

            &.ellipse {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                height: 100%;

            }
        }
    }


    @include media-tablet {
        height: auto;
        width: 35rem;
        padding: 1rem;
        gap: 2rem;
        max-width: 40rem;

        .imageWrapper {
            height: 23rem;
            min-height: 23rem
        }

        .content {

            .title {
                @include H4;
            }
        }
    }

    @include media-desktop {
        width: 38.6rem;
        max-width: initial;
        height: 60rem;
        padding: .8rem .8rem 2.1rem .8rem;

        .imageWrapper {
            height: 28rem;
        }


        &.desktop {
            padding: .8rem;
            flex-direction: row;
            width: auto;
            height: auto;
            align-items: center;

            .imageWrapper {
                flex: 1;
                max-width: 48rem;
            }

            .content {
                flex: 1;
            }
        }
    }

    @include media-hover {
        &.clickable {
            cursor: pointer;
            border-color: var(--border-brand-strong);
            outline-color: var(--border-brand-strong);
        }
    }
}

.bottomSlot {
    margin-top: auto;
}
