/*
  Я пофиксил этот файл по возможности своей лени. С остальным пусть разбирается кто-то другой
*/
.wrapper {
  width: 100%;
  max-width: 119.9rem; 
  margin: 6rem auto 24.5rem auto;
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
  column-gap: 1rem;
  border-top-right-radius: var(--radius-lg);
  border-bottom-right-radius: var(--radius-lg);
}


.title {
  font-size: var(--fs-xxxl); 
  color: var(--color-dark-gray);
  margin-bottom: 2rem; 
  font-weight: var(--font-weight-semibold);
}

.text {
  color: #393939;
  font-size: var(--fs-sm); 
}
.content {
  display: flex;
  flex-direction: column;
}

.content__text {
  width: 54.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 5rem; 
}

.titleImg {
  height: auto;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.tab {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem 1.6rem; 
  border-radius: var(--radius-sm);
  background: var(--color-gray-light);
  color: #333;
  font-size: var(--fs-xs);
  transition: background-color 0.3s ease;
  flex: 1;
}

.tab:hover {
  background: #e5e5e7;
}

.tab.active {
  background-color: var(--color-blue-light);
  color: var(--color-blue-primary);
  border-color: var(--color-blue-light);
}

.tab:active {
  transform: scale(0.97);
}

.containerTabButton {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  max-width: 392px;
  width: 100%;
}


.icon {
  width: 2.4rem; 
  height: 2.4rem;
  stroke: currentColor;
  fill: none;
  transition: stroke 0.3s ease;
}

.button {
  margin-top: 2rem;
  padding: 1.6rem;
  font-size: 1.8rem;
  background-color: var(--color-blue-primary);
  color: #fff;
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #486cc0;
}

.buttonTextFull {
  display: inline;
  font-size: 2rem;
  font-weight: var(--font-weight-medium);
}

.buttonTextShort {
  display: none;
}

@media (max-width: 1150px) {
  .title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .text {
    font-size: 2rem;
    opacity: 0.72;
  }
}

@media (max-width: 1024px) { 
  .titleImg {
    max-width: 49.7rem; 
    height: auto;
  }
}

@media (max-width: 850px) {
  .container {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: inherit;
    padding: 0 5.7rem; 
  }

  .titleImg {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 0;
  }

  .text {
    font-size: 1.6rem;
    text-align: center;
  }

  .content {
    padding-inline: 6rem;
    padding-bottom: 1.6rem;
    width: 100%;
    align-items: center;
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    margin-top: 2rem;
  }

  .buttonTextFull {
    display: none;
  }

  .buttonTextShort {
    display: inline;
  }

  .button {
    display: block;
    margin-top: 0.6rem;
    width: 100%;
  }

  .wrapper {
    background-color: inherit;
  }

  .title {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container {
    padding-inline: 1rem;
  }
  .content {
    padding-inline: 0;
  }
  .containerTabButton {
    padding-inline: 0;
  }
}
