.wrapper {
  width: 100%;
  margin-top: 60px;
  background-color: #d9e5ff;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1199px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
  align-items: center;
  column-gap: 1rem;
}

.content {
  width: 506px;
}

.title {
  font-size: 6rem;
  /* color: #5E8BF4; */
  /* color: #486CC0; */
  /* color: #3d5ca6; */
  color: #19191b;
  margin-bottom: 20px;
}

.text {
  color: #393939;
  font-size: 2rem;
}

.content__text {
  width: 548px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

@media (max-width: 1150px) {
  .titleImg {
    width: 50%;
  }

  .title {
    font-size: 4em;
    margin-bottom: 20px;
  }

  .text {
    font-size: 2em;
    opacity: 72%;
  }
}

@media (max-width: 850px) {
  .titleImg {
    width: 50%;
  }

  .text {
    color: #393939;
    font-size: 1.6rem;
  }
}

@media (max-width: 800px) {
  .container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    background-color: inherit;
  }
  .titleImg {
    width: 100%;
    margin-top: 50px;
  }
  .text {
    text-align: center;
  }

  .title {
    text-align: center;
  }
}

@media (max-width: 500px) {
.container {
    padding-inline: 1rem;
}
}
