@media (min-width: 1440px) {
  .greetingBlock {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    max-height: 42rem;
    max-width: 120rem;
    margin: 4.8rem auto 0 auto;
  }

  .greetingImageWrapper {
    margin: auto;
    width: 100vw;
    max-width: 59.4rem;
  }

  .greetingImage {
    max-width: 100%;
    width: 100vw;
    height: auto;
    object-fit: cover;
  }

  .blockItems {
    max-width: 59rem;
    max-height: 42.2rem;
  }

  .greetingTitle {
    font-size: 4.8rem;
    line-height: 5.2rem;
    font-weight: 600;

    max-width: 59rem;
    width: 100vw;
  }

  .greetingDescription {
    font-size: 2rem;
    line-height: 2.8rem;
    margin: 2rem 1.6rem 0 0;
  }

  .greetingList {
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 52.5rem;
  }

  .greetingList__item {
    list-style: none;
    font-weight: bold;
    font-size: 2rem;
  }

  .importantTextWrapper {
    background: #e8effd;
    padding: 0.6rem;
    border-radius: 2rem;
    width: 51.2rem;
    margin-left: auto;
    margin-right: 1.7rem;
  }

  .importantText {
    color: #393939;
    font-size: 1.6rem;
    display: block;
    padding: 0.4rem;
  }

  .importantText__bold {
    font-weight: bold;
  }

  .signupButton {
    width: 100%;
    background: #1b50f5;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0.6rem 0 0 0;
  }

  .signupButton:hover {
    background: rgba(21, 59, 225, 1);
  }

  .signupButton:active {
    background: rgba(25, 47, 143, 1);
  }

  .signupButton:disabled {
    background: rgba(229, 229, 231, 1);
  }

  .signupButton:disabled .signupButton__text {
    color: rgba(49, 50, 53, 0.32);
  }

  .signupButton__text {
    padding: 1.4rem;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    user-select: none;
  }

  .title4 {
    font-size: 1.6rem;
    color: #5e8bf4;
    text-transform: uppercase;
    margin-top: 2rem;
  }

  .buttonWrapper {
    margin-top: 4.3rem;
    max-width: 39.2rem;
  }

  .typeButtonWrapper {
    display: flex;
    gap: 0.4rem;
  }

  .onlineSingup {
    width: 19.4rem;
    height: 10rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.6rem 0;
    background-color: rgba(249, 249, 249, 1);
    border-radius: 1.6rem;
    transition: background-color 0.3s ease;
  }

  .oflineSingup {
    width: 19.4rem;
    height: 10rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.6rem 0;
    background-color: rgba(249, 249, 249, 1);
    border-radius: 1.6rem;
    transition: background-color 0.3s ease;
  }

  .onlineSingupImg {
    width: 2.5rem;
    align-self: center;
    filter: brightness(0) saturate(100%);
  }

  .oflineSingupImg {
    width: 2.5rem;
    align-self: center;
    filter: brightness(0) saturate(100%);
  }

  .onlineSingup span,
  .oflineSingup span {
    color: rgba(0, 0, 0, 1);
  }

  .onlineSingup:hover,
  .oflineSingup:hover {
    background-color: rgba(229, 229, 231, 1);
  }

  .onlineSingup.active .onlineSingupImg,
  .oflineSingup.active .oflineSingupImg {
    filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2878%) hue-rotate(213deg)
      brightness(96%) contrast(96%);
  }

  .onlineSingup.active span,
  .oflineSingup.active span {
    color: rgba(27, 80, 245, 1);
  }
}

@media (min-width: 840px) {
  .greetingBlock {
    max-width: 72rem;
  }
}
