.greeting {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
}

.greeting__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 8px;
}

.greeting__block {
    padding-right: 2rem;
}

.greeting__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 48px;
}

.greeting__title {
    font-size: 4.4rem;
    line-height: 52px;
    color: #19191B;
    font-weight: 500;
    font-family: 'Geist', sans-serif;
}

.greeting__subtitle {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: rgba(49, 50, 53, 0.72);
}

.greeting__image {
    width: 100%;
    height: 100%;
}

.greeting__controls {
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
    max-width: 100%;
}

.greeting__options {
    display: flex;
    gap: 4px
}

.greeting__option {
    background: #F9F9F9;
    border: 2px solid transparent;
    user-select: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 2rem;
    padding: 16px 64px;
    border-radius: 12px;
}

.greeting__option_icon {
    stroke: currentColor;
}

.greeting__option:hover {
    color: #1B50F5;
    background-color: #EEF5FF;
}

.greeting__option:active,
.greeting__option:active:hover {
    background: none;
    border-color: #1B50F5;
    color: #1B50F5;
}

.greeting__option:focus-visible {
    border-radius: 4px;
    border-color: #1B50F5;
}

.greeting__submit {
    width: 100%;
    border: solid;
    background-color: #1B50F5;
    color: white;
    padding: 16px;
    border-radius: 12px;
    font-size: 2rem;
    cursor: pointer;
}

.greeting__submit:hover {
    background-color: #153BE1
}

.greeting__submit:active {
    background-color: #192F8F
}

@media (max-width: 1206px) {
    .greeting {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 1023px) {
    .greeting {
        padding-left: 0px;
        padding-right: 0px;
    }

    .greeting__content {
        display: flex;
        flex-direction: column;
    }

    .greeting__block {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .greeting__title_wrapper {
        text-align: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;

    }

    .greeting__subtitle_wrapper {
        text-align: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .greeting__image_wrapper {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {


    .greeting__title_wrapper,
    .greeting__subtitle_wrapper {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 425px) {
    .greeting {
        margin-top: 44px;
    }

    .greeting__title_wrapper,
    .greeting__subtitle_wrapper {
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .greeting__title {
        font-size: 2.8rem;
        line-height: 36px;
    }

    .greeting__subtitle {
        font-size: 1.6rem;
        line-height: 24px;
    }

    .greeting__text {
        gap: 10px;
        margin-bottom: 22px;
    }

    .greeting__option_icon {
        width: 24px;
        height: 24px;
    }

    .greeting__image_wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .greeting__option {
        font-size: 2rem;
        padding: 10px 40px;
        border-radius: 12px;
    }
}