@use 'media-breakpoints' as *;

@mixin H2 {
    font-weight: var(--font-weight-semibold);
    letter-spacing: -1.5%;
    line-height: 3.6rem;
    font-size: 2.8rem;

    @include media-tablet {
        line-height: 4.8rem;
        font-size: 4rem;
    }

    @include media-desktop {
        line-height: 5.2rem;
        font-size: 4.8rem;
    }
}

@mixin H3 {
    font-weight: var(--font-weight-semibold);
    line-height: 3.2rem;
    font-size: 2.4rem;
    letter-spacing: -1.5%;

    @include media-tablet {
        line-height: 4.8rem;
        font-size: 4rem;
    }

    @include media-desktop {
        line-height: 5.2rem;
        font-size: 4.8rem;
    }
}

@mixin H4 {
    font-weight: var(--font-weight-medium);
    letter-spacing: -1.5%;
    font-size: 2rem;
    line-height: 2.8rem;

    @include media-tablet {
        font-size: 2.8rem;
        line-height: 3.2rem;
    }

    @include media-desktop {
        line-height: 3.6rem;
        font-size: 3.2rem;
    }
}

@mixin TextL {
    font-weight: var(--font-weight-regular);
    font-size: 2rem;
    line-height: 2.8rem;

    @include media-tablet {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    @include media-desktop {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}

@mixin TextS {
    font-weight: var(--font-weight-regular);
    font-size: 1.4rem;
    line-height: 2rem;

    @include media-tablet {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    @include media-desktop {
        font-size: 1.4rem;
        line-height: 2rem;
    }
}

@mixin TextM {
    font-weight: var(--font-weight-regular);
    font-size: 1.6rem;
    line-height: 2.4rem;

    @include media-tablet {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    @include media-desktop {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

@mixin TextLButton {
    font-weight: var(--font-weight-regular);
    font-size: 2rem;
    line-height: 2.8rem;
}
