@use 'media-breakpoints' as *;

// Side effect: Этот миксин ограничивает применение hover только для планшетов и выше.
// На мобильных устройствах hover не будет работать.
// Это полезно для улучшения пользовательского опыта на сенсорных экранах.
@mixin media-hover {
    @include media-tablet {
        &:hover {
            @content;
        }
    }
}
