.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.errorText {
  color: var(--color-label-danger-primary);
}

.registerButton {
  width: 70px;
  min-width: unset;
}
.hintText {
  opacity: 0.5;
}
