.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.errorText {
    color: red;
    font-size: 1.2rem;
}

.checkbox {
    display: flex;
    align-items: center;
}

.registerButton {
    width: 110px;
    min-width: unset;
}