.wrapper {
    width: 100%;
    height: auto;
    padding: 22px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
}

.ask {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    border-radius: 50%;
    height: 34px;
    width: 34px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: calc((1vh + 1vw) / 2);
}

.answer {
    color: #5E8BF4;
    margin-top: 30px;
    margin-left: calc((1vh + 1vw) / 2 + 34px);
}

.p {
    word-break: break-word;
    flex-grow: 1;
    width: 100%;
    white-space: pre-wrap;
}