.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid transparent;
  border: none;
  border-radius: 1.6rem;
  width: fit-content;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    outline-color 0.3s,
    outline-offset 0.3s;

  &.fontLarge {
    &.bold {
      font: var(--font-text-large-button);
    }
    &.regular {
      font: var(--font-text-large);
    }
  }

  &.fontMedium {
    &.bold {
      font: var(--font-text-medium-button);
    }
    &.regular {
      font: var(--font-text-medium);
    }
  }

  &.medium {
    padding: 1.6rem;

    .icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &.brand {
    &.primary {
      background: var(--color-interactive-brand-primary);
      color: var(--color-label-neutral-inverted-primary);

      &:hover {
        background: var(--color-interactive-brand-hover);
      }

      &:active {
        background: var(--color-interactive-brand-active);
      }

      &:disabled {
        background-color: var(--color-interactive-brand-disable);
        color: var(--color-label-neutral-quaternary);
      }

      &:focus-visible {
        outline-color: var(--color-border-brand-strong);
        outline-offset: 2px;
      }
    }

    &.secondary {
      background-color: var(--color-interactive-brand-secondary);
      color: var(--color-label-brand-primary);

      &:hover {
        background-color: var(--color-interactive-brand-hover-secondary);
      }

      &:active {
        background-color: var(--color-interactive-brand-active-secondary);
      }

      &:disabled {
        background-color: var(--color-interactive-neutral-disable);
        color: var(--color-label-neutral-quaternary);
      }

      &:focus-visible {
        outline-color: var(--color-border-brand-strong);
        outline-offset: 2px;
      }
    }
  }

  &.neutral {
    &.primary {
      background-color: var(--color-interactive-neutral-primary);
      color: var(--color-label-neutral-inverted-primary);

      &:hover {
        background-color: var(--color-interactive-neutral-hover);
      }

      &:active {
        background-color: var(--color-interactive-neutral-active);
      }

      &:disabled {
        background-color: var(--color-interactive-neutral-disable);
        color: var(--color-label-neutral-quaternary);
      }

      &:focus-visible {
        outline-color: var(--color-border-brand-strong);
        outline-offset: 2px;
      }
    }

    &.secondary {
      background-color: var(--color-interactive-neutral-secondary);
      color: var(--color-label-neutral-primary);

      &:hover {
        background-color: var(--color-interactive-neutral-hover-secondary);
      }

      &:active {
        background-color: var(--color-interactive-neutral-active-secondary);
      }

      &:disabled {
        background-color: var(--color-interactive-neutral-disable);
        color: var(--color-label-neutral-quaternary);
      }

      &:focus-visible {
        outline-color: var(--color-border-brand-strong);
        outline-offset: 2px;
      }
    }
  }

  &.hasIcon {
    gap: 1.2rem;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// [data-theme='dark'] {
//   .button {
//     &.brand {
//       background-color: var(--color-fill-neutral-none);
//       color: var(--color-interactive-neutral-primary);

//       &:hover {
//         background-color: var(--color-interactive-neutral-hover-secondary);
//       }

//       &:active {
//         background-color: var(--color-interactive-neutral-active-secondary);
//         outline: none;
//       }
//     }
//   }
// }
