.button {
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    user-select: none;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
    transition: 
        outline .3s ease,
        background .3s ease,
        outline-offset .3s ease;
    outline: 2px solid transparent;

    &.medium {
        padding: 1.4rem;
    }

    &.primary {
        background: #486CC0;

        &:hover {
            background: #36508a;
        }

        &:focus {
            outline: 2px solid #486CC0;
            outline-offset: 2px;
            background: #36508a
        }
    }
}
