.button {
  color: var(--color-label-neutral-inverted-primary);
  font-size: 1.6rem;
  font-weight: bold;
  user-select: none;
  display: flex;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition:
    outline 0.3s ease,
    background 0.3s ease,
    outline-offset 0.3s ease;
  outline: 2px solid transparent;
  border-width: 0;

  &.medium {
    padding: 1.4rem;

    .icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  &.color-brand {
    &.secondary {
      background-color: var(--color-interactive-brand-secondary);
      color: var(--color-label-brand-primary);

      &:hover {
        background-color: var(--color-interactive-brand-hover-secondary);
      }

      &:active {
        background-color: var(--color-interactive-brand-active-secondary);
      }

      &:disabled {
        background-color: var(--color-interactive-neutral-disable);
        color: var(--color-label-neutral-quaternary);
      }
    }

    &.primary {
      background: var(--color-fill-brand-primary);

      &:hover {
        background: var(--color-interactive-neutral-hover);
      }

      &:focus {
        outline: 2px solid var(--color-border-brand-strong);
        outline-offset: 2px;
        background: var(--color-fill-brand-primary);
      }
    }
  }

  &.color-neutral {
    &.primary {
      background-color: var(--color-interactive-neutral-primary);
      color: var(--color-label-neutral-inverted-primary);

      &:hover {
        background-color: var(--color-interactive-neutral-hover);
      }

      &:active {
        background-color: var(--color-interactive-neutral-active);
      }

      &:disabled {
        background-color: var(--color-interactive-neutral-disable);
        color: var(--color-label-neutral-quaternary);
      }
    }
  }

  &.hasIcon {
    gap: 1.2rem;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

[data-theme="dark"]{
  .button{
     &.color-brand{
        background-color: var(--color-fill-neutral-none);
        color: var(--color-interactive-neutral-primary);
        &:hover{
          background-color: var(--color-interactive-neutral-hover-secondary);
        }
        &:active{
          background-color: var(--color-interactive-neutral-active-secondary);
          outline: none;
        }
        &:focus{
          background-color: var(--color-fill-neutral-none);
          outline: none;
        }
     }
  }
}