@use '@/shared/scss/abstracts/breakpoints' as *;

.wrapper {
    padding: 2.4rem 1rem 5.3rem 1rem;
    
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        gap: 2.4rem;

        .backButton {
            font: var(--font-text-medium);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.6rem;
            color: var(--color-label-brand-primary);
        }
    }
    .info {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        font: var(--font-text-small);
        color: var(--color-label-neutral-secondary);
    }

    .title {
        font: var(--font-h2);
        color: var(--color-label-neutral-primary);
        margin-block: .9rem;
        letter-spacing: -.15rem;
    }

    .content {
        .imageWrapper {
            margin-block: 2rem 4rem;
            width: 100%;
            height: auto;
            border-radius: 1.6rem;
            overflow: hidden;
            
            & > img {
                object-fit: contain;
                width: 100%;
            }
        }
        & > h1 {
            font: var(--font-h2);
            margin-bottom: 2.4rem;
            color: var(--color-label-neutral-primary);
        }
        & > h2 {
            font: var(--font-h3);
            margin-bottom: 2.4rem;
            color: var(--color-label-neutral-primary);
        }
        & > p {
            font: var(--font-text-medium);
            color: var(--color-label-neutral-primary);
            margin-bottom: 2.4rem;
        }

        .block {
            margin-bottom: 2.4rem;
            & > p {
                font: var(--font-text-medium);
                color: var(--color-label-neutral-primary);
            }

            & > ul {
                padding-left: 2.4rem;
                
                & > li {
                    // list-style-position: inside;
                    list-style-type: disc;
                    font: var(--font-text-medium);
                    color: var(--color-label-neutral-primary);
                    margin-bottom: .4rem;
                }
            }
            & > * {
                margin-bottom: 2rem
            }
        }
    }

    .bottomBtn {
        margin: 0 auto;
        max-width: 39rem;
        width: 100%;
    }

    @include past-tablet {
        padding: 4rem 6.7rem;
        .top {
            flex-direction: row;

            .info {
                gap: 3.6rem;
            }
        }

        .title {
            margin-block: 3.6rem 2.4rem;
        }

        .content {
            .imageWrapper {
                margin-block: 1.6rem 4.8rem;
                width: 100%;
                height: auto;
                border-radius: 2.4rem;
                overflow: hidden;
            }
            & > h1 {
                font: var(--font-h2);
                margin-bottom: 2.4rem;
                color: var(--color-label-neutral-primary);
            }
            & > h2 {
                margin-bottom: 2.8rem;
            }
            & > p {
                margin-bottom: 4.8rem;
            }

            .block {
                margin-bottom: 4.8rem;
                & > * {
                    margin-bottom: 2.4rem
                }
            }
        }
    }
}