.calls {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.calls__text_wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
}

.calls__text {
    width: 60%;
    font-size: 2.0rem;
    line-height: 2.8rem;
    color: rgba(49, 50, 53, 0.52);
}

.calls__content {
    display: flex;
    gap: 8px;
    margin-top: 48px;
}

.calls__block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calls__item {
    padding: 24px;
    border-radius: 24px;
    border: 2px solid #CACBCE;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.calls__title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #19191B;
    font-weight: 500;
}

.calls__phone {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #1B50F5;
    font-weight: 500;
    border: 2px solid transparent;
    padding: 4px;
    width: fit-content;
    border-radius: 12px;
}

.calls__phone:hover {
    color: #1B50F5;
    background-color: #EEF5FF;
}

.calls__phone:active,
.calls__phone:active:hover {
    background: none;
    border-color: #1B50F5;
    color: #1B50F5;
}

.calls__phone:focus-visible {
    border-radius: 4px;
    border-color: #1B50F5;
}

.calls__phone_text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: rgba(49, 50, 53, 0.52);
}

.calls__1_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr fit-content(100%);
    gap: 8px;
}



@media (max-width: 1200px) {
    .calls {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 1152px) {
    .calls__content {
        display: flex;
        flex-direction: column;
    }

    .calls__block {
        display: grid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .calls__image_wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    .calls__text {
        width: 90%;
    }
}


@media (max-width: 767px) {
    .calls__content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .calls__title {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .calls__image {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 425px) {
    .calls__block {
        grid-template-columns: repeat(1, fit-content(100%));
        grid-template-rows: repeat(4, fit-content(100%));
    }

    .calls__image_wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    .calls__text {
        width: 90%;
    }

    @media (max-width: 425px) {
        .calls__1_grid {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
        }

        .calls__1_grid> :nth-child(1) {
            grid-row: 1;
        }

        .calls__1_grid> :nth-child(3) {
            grid-row: 2;
        }

        .calls__1_grid> :nth-child(2) {
            grid-row: 3;
        }

        .calls__1_grid> :nth-child(4) {
            grid-row: 4;
        }
    }
}