@use '@/shared/scss/abstracts/breakpoints' as *;
@use '@/shared/scss/mixins/font-sizes' as *;

.wrapper {
  padding: 0.8rem 0.8rem 1.4rem 0.8rem;
  outline: 0.1rem solid transparent;
  border: 0.1rem solid var(--color-border-neutral-base);
  border-radius: 2.8rem;
  background: var(--color-fill-neutral-none);
  max-width: 30rem;
  width: 100%;
  height: auto;
  gap: 1.2rem;
  display: flex;
  flex-direction: column;
  transition: .3s ease;

  .info {
    font: var(--font-text-large);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .imageWrapper {
    height: 18.4rem;
    min-height: 18.4rem;
    width: 100%;
    border-radius: 2.4rem;
    overflow: hidden;
    background: var(--color-fill-neutral-quaternary);
    max-width: 45rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-inline: 0.8rem;

    .title {
      font: var(--font-h4);
    }

    .description {
      color: var(--color-label-neutral-secondary);
      font: var(--font-text-medium);

      &.ellipse {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        height: 100%;
      }
    }
  }

  @include past-tablet {
    height: auto;
    width: 35rem;
    padding: 1rem;
    gap: 2rem;
    max-width: 40rem;

    .imageWrapper {
      height: 23rem;
      min-height: 23rem;
    }

    .info {
      margin-top: 5rem;
    }

    .content {
      .title {
        font: var(--font-h4);
      }
    }
  }

  @include past-desktop {
    width: 38.6rem;
    max-width: initial;
    height: 60rem;
    padding: 0.8rem 0.8rem 2.1rem 0.8rem;

    .imageWrapper {
      height: 28rem;
    }

    &.desktop {
      padding: 0.8rem;
      flex-direction: row;
      width: auto;
      height: auto;
      align-items: center;

      .imageWrapper {
        aspect-ratio: 480/300;
      }
    }
  }

  @include past-tablet {
    &.clickable:hover {
      cursor: pointer;
      border-color: var(--color-border-brand-strong);
      outline-color: var(--color-border-brand-strong);
    }
  }
}

.bottomSlot {
  margin-top: auto;
}
