.wrapper {
    padding: calc((1vh + 1vw) / 2);
    width: 100%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    font-size: 2rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.userData {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    font-weight: bold;
}

.edit {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 44px;
    width: 57px;
    transition: 0.2s;
    cursor: pointer;
}

.edit:hover {
    transform: scale(0.93);
}

.exit {
    border: 0;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    color: red;
}

.appointments {
    margin: 3rem auto 0 auto;
    width: 100%;
    max-width: 600px;
}

li {
    list-style-type: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    height: auto;
}

.appointment__active {
    border: 2px #7D8488 solid;
    padding: 2.4rem;
    border-radius: 2.4rem;
}

.active__date {
    display: flex;
    justify-content: space-between;
}

.active__date_day {
    font-size: 2.5rem;
    font-weight: bold;
}

.active__date_time {
    font-size: 2.5rem;
    color: #4D4D4D
}

.name__wrapper {
    display: flex;
    gap: 1.6rem;
    margin-top: 3rem;
}

.FIO {
    font-size: 2rem;
}

.venue_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
}

.venue__content {
    display: flex;
    gap: 1.6rem;
}

.venue {
    font-size: 2rem;
}

.next {
    display: flex;
    align-items: center;
    border-bottom: 1px #7D8488 solid;
    padding-bottom: 2rem;
    justify-content: space-between;
    margin-top: 3rem;
}

.next__date {
    display: flex;
    gap: 1.6rem;
}

.next__date_day {
    font-size: 2.2rem;
    font-weight: bold;
}

.next__date_venue {
    font-size: 1.6rem;
    font-weight: bold;
}

.next__time {
    display: flex;
    gap: 2rem;
    margin-top: 0.6rem;
}

.next__time_value {
    font-size: 2rem;
}

.next__FIO {
    font-size: 2rem;
}