.wrapper {
  max-width: 389px;
  width: 100%;
  border-radius: 16px;
  overflow: scroll;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 12px;
  transition: transform 0.2s;
  /* max-height: 640px;
  height: 100%; */
  aspect-ratio: 389 / 637; /* пропорции всей карточки */
}

.wrapper:hover {
  transform: translateY(-4px);
}

.photo {
  width: 100%;
  aspect-ratio: 1 / 1; /* квадрат 365x365 */
  /* height: 365px; */
  border-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  margin-bottom: 12px;
  transition: all 0.3s ease;
}

.fio {
  color: #000000;
  font-size: 3.2rem;
  font-weight: 500;
  margin: 0 0 6px 0;
}

.speciality {
  font-size: 2rem;
  color: #19191b;
  margin-bottom: 6px;
}

.experience {
  font-size: 2rem;
  font-weight: 400;
  color: #313235;
  opacity: 72%;
  margin-bottom: 1.5rem;
}

.consult_label {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 8px;
  color: black;
}

.consult_areas {
  font-size: 2rem;
  color: #313235;
  opacity: 72%;

  margin-top: 2px;
  line-height: 1.5;
}

@media (max-width: 1150px) {
  .fio {
    font-size: 2.8rem;
  }

  .consult_areas,
  .speciality,
  .experience {
    font-size: 1.6rem;
  }

  .consult_label {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    margin: 0 auto;
  }

  /* .fio {
    font-size: 2rem;
  }

  .consult_areas,
  .speciality,
  .experience {
    font-size: 1.3rem;
  }

  .consult_label {
    font-size: 1.8rem;
  } */
}
