.wrapper {
  max-width: 38.9rem; /* 389px */
  width: 100%;
  height: 100%;
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  box-shadow: var(--shadow-md);
  display: flex;
  flex-direction: column;
  padding: 1.2rem; /* 12px */
  transition: transform 0.2s;
}

.wrapper:hover {
  transform: translateY(-0.4rem); /* 4px */
}

.photo {
  width: 100%;
  aspect-ratio: 1 / 1; /* квадрат */
  border-radius: var(--radius-sm);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.2rem; /* 12px */
  transition: all 0.3s ease;
}

.fio {
  color: var(--color-black);
  font-size: var(--fs-lg); /* 3.2rem */
  font-weight: var(--font-weight-medium);
  margin: 0 0 0.6rem 0; /* 6px */
}

.speciality {
  font-size: var(--fs-sm); /* 2rem */
  color: var(--color-dark-gray);
  margin-bottom: 0.6rem; /* 6px */
}

.experience {
  font-size: var(--fs-sm); /* 2rem */
  font-weight: var(--font-weight-regular);
  color: var(--color-gray);
  opacity: 0.72;
  margin-bottom: 1.5rem; /* 15px → 1.5rem */
}

.consult_label {
  font-size: 2.4rem; /* оставим пока так, можно вынести в переменные fs */
  font-weight: var(--font-weight-medium);
  margin-top: 0.8rem;
  color: var(--color-black);
}

.consult_areas {
  font-size: var(--fs-sm);
  color: var(--color-gray);
  opacity: 0.72;
  margin-top: 0.2rem;
  line-height: 1.5;
}

/* Адаптивность */
@media (max-width: 1150px) {
  .fio {
    font-size: 2.8rem;
  }

  .consult_areas,
  .speciality,
  .experience {
    font-size: var(--fs-xs); /* 1.6rem */
  }

  .consult_label {
    font-size: 2.2rem;
  }
}

@media (max-width: 600px) {
  .wrapper {
    margin: 0 auto;
  }
}
