/* TODO Рефакторинг архитектуры scss раз уж его ввели в проект */
@use 'swiper/css' as *;
@use 'swiper/css/navigation' as *;
@use 'swiper/css/pagination' as *;
@use 'swiper/css/effect-fade' as *;
@use 'global' as *;
@use 'root' as *;
@use 'variables' as *;