.wrapper {
    max-width: 1440px;
    margin: auto;
    width: 100%;
}

.headerContent {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent;
    z-index: 0;
    position: relative;
    /* max-width: 1440px;
    margin: auto; */
    padding-inline: 32px;
}

.header {
    background: #d9e5ff;
}

.faqName {
    margin-left: 73px;
    margin-top: 79px;
}

.faq {
    font-size: 162px;
    color: #5E8BF4;
    margin: 0;
}

.wrapperQuestions {
    max-width: 1440px;
    margin: auto;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.questions {
    user-select: none;
}

.description {
    font-size: 24px;
    max-width: 364px;
    margin-top: 10px;
}