.wrapper {
    margin-top: 150px;
    margin-bottom: 43px;
}

.list_wrapper {
    width: 90%;
    max-width: 1128px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 100px;
    flex-wrap: wrap;
}

.title {
    font-size: 4.8rem;
    text-align: center;
}

.list_wrapper>* {
    flex: 0 0 calc(33.333% - 20px);
}