.wrapper {
  margin-bottom: 6rem; /* 60px → 6rem */
}

.title {
  font-size: var(--fs-xl); /* 3.6rem */
  text-align: center;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 4rem; /* 40px → 4rem */
  color: var(--color-black);
}

.list_wrapper {
  width: 90%;
  max-width: 120rem; /* 1200px → 120rem */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.6rem; /* 16px */
  flex-wrap: wrap;
  align-items: stretch;
}

.list_wrapper > * {
  flex: 0 0 calc(33.333% - 1.1rem); /* 11px → 1.1rem */
}

/* Мобильные стили */
@media screen and (max-width: 900px) {
  .list_wrapper > * {
    flex: 0 0 calc(50% - 1.5rem); /* 15px → 1.5rem */
  }
}

@media screen and (max-width: 600px) {
  .list_wrapper > * {
    flex: 0 0 100%;
  }

  .title {
    font-size: 2.8rem;
  }
}
