.greeting__controls {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  max-width: 100%;
}

.greeting__options {
  display: flex;
  gap: 4px;
}

.greeting__option {
  background: var(--color-background-neutral-secondary);
  border: 2px solid transparent;
  user-select: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  padding: 16px 64px;
  border-radius: 12px;
}

.greeting__option_icon {
  stroke: currentColor;
}

.greeting__option:hover {
  color: var(--color-interactive-brand-primary);
  background-color: var(--color-interactive-brand-secondary);
}

.greeting__option:active,
.greeting__option:active:hover {
  background: none;
  border-color: var(--color-interactive-brand-primary);
  color: var(--color-interactive-brand-primary);
}

.greeting__option:focus-visible {
  border-radius: 4px;
  border-color: var(--color-interactive-brand-primary);
}

.greeting__submit {
  width: 100%;
  border: solid;
  background-color: var(--color-interactive-brand-primary);
  color: var(--color-label-neutral-inverted-primary);
  padding: 16px;
  border-radius: 12px;
  font-size: 2rem;
  cursor: pointer;
}

.greeting__submit:hover {
  background-color: var(--color-interactive-brand-hover);
}

.greeting__submit:active {
  background-color: var(--color-interactive-brand-active);
}

.buttonTextFull {
  display: inline;
  font-size: 2rem;
  font-weight: 500;
}

.buttonTextShort {
  display: none;
}

.greeting__option_active {
  background: var(--color-interactive-brand-secondary); 
  color: var(--color-interactive-brand-primary); 
}

.greeting__submit_disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background: var(--color-interactive-brand-disable);
}

.greeting__submit_disabled:hover {
  background: var(--color-interactive-brand-disable);
}

.page-service .greeting__option_active {
  background: var(--color-fill-warning-primary);
  border-color: var(--color-label-warning-primary);
}

.page-contact .greeting__option_active {
  background: var(--color-fill-neutral-primary);
  border-color: var(--color-border-neutral-inverted);
}