@use '@/shared/scss/abstracts/breakpoints' as *;

.wrapper {
    .passList {
        grid-template-columns: 1fr;

        display: grid;
        padding-inline: 1rem;
        gap: 1.2rem;
        justify-items: center;
        justify-content: center;

        .passBtn {
            background: var(--color-interactive-brand-secondary);
            color: var(--color-label-brand-primary);
            width: 100%;
            padding: 1.6rem;
            border-radius: 1.6rem;
        }

        @include past-tablet {
            grid-template-columns: repeat(auto-fit, minmax(0, 35rem));
            padding: 0;
            gap: 1.6rem;
        }

        @include past-desktop {
            grid-template-columns: 1fr;
        }
    }
}
