@use '@/shared/scss/abstracts/breakpoints' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .showMore {
    width: fit-content;
    padding-inline: 12.6rem;
  }
  .passList {
    grid-template-columns: 1fr;

    display: grid;
    padding-inline: 1rem;
    gap: 1.2rem;
    justify-items: center;
    justify-content: center;

    .passBtn {
      background: var(--color-interactive-brand-secondary);
      color: var(--color-label-brand-primary);
      width: 100%;
      padding: 1.6rem;
      border-radius: 1.6rem;
    }

    @include past-tablet {

      .passList {
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        padding: 0;
        gap: 1.6rem;
      }
    }

    @include past-desktop {
      gap: 1.6rem;

      .passList {
        grid-template-columns: 1fr;
      }
    }
  }
  @include mobile-specific {
    .showMore {
      width: 100%;
      padding-inline: 1rem;
    }
  }
}
