@use '@/shared/scss/abstracts/breakpoints' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.passList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.showMore {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}

@include past-tablet {
  .wrapper {
    gap: 3.6rem;
  }

  .passList {
    grid-template-columns: repeat(auto-fit, minmax(35.3rem, 1fr));
    gap: 1.2rem;
  }

  .showMore {
    max-width: 35.4rem;
  }
}

@include past-desktop {
  .wrapper {
    gap: 4.8rem;
  }

  .passList {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }

  .showMore {
    max-width: 38.6rem;
  }
}
