:root {
  --header-height: 11.2rem;
}

@media (max-width: 1200px) {
  :root {
    --header-height: 10.4rem;
  }
}

@media (max-width: 720px) {
  :root {
    --header-height: 7rem;
  }
}

:global(html):has(.header__list_open) {
  /* Это нужно для того, чтобы на компе при открытии бургер-меню не прыгала сама кнопка бургера */
  scrollbar-gutter: stable;
  background-color: var(--color-fill-brand-primary);
  transition: background-color 0.3s;
}

.header {
  position: sticky;
  top: 2rem;
  margin-top: 2rem;
  z-index: 200;
  display: flex;
  justify-content: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 125.4rem;
  width: 100%;
  margin: 0 9.3rem;
  padding: 0 3.6rem;
  border-radius: 2.8rem;
  /* Надо будет поменять, когда дизайнеры нарисуют */
  background-color: #f6f6f6dd;
  backdrop-filter: blur(1rem);
  /* background-color: var(--color-fill-neutral-quaternary); */
}

.header__nav:has(.header__list_open),
.header__nav:has(.header__list_animating) {
  backdrop-filter: none;
}

.header__logo {
  display: flex;
  border: 1px solid transparent;
  padding: 1.5rem;
  margin: 1.2rem 0;
  border-radius: 1.2rem;
  color: var(--color-label-neutral-primary);
  -webkit-tap-highlight-color: transparent;
  transition:
    border-color 0.3s,
    color 0.3s;
}

.header__logo svg {
  width: 12rem;
  height: 3.6rem;
}

@media (hover: hover) {
  .header__logo:hover {
    color: var(--color-interactive-brand-primary);
  }
}

@media (hover: none) {
  .header__logo:hover {
    color: var(--color-label-neutral-primary);
  }
}

.header__logo:active,
.header__logo:focus-visible {
  border-color: var(--color-border-brand-strong);
  color: var(--color-interactive-brand-primary);
}

.header__list {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__item:first-child,
.header__item:last-child {
  display: flex;
  justify-content: end;
  flex-grow: 1;
}

.header__item:nth-child(6) .header__link {
  width: 6rem;
  height: 6rem;
  border-radius: 1.6rem;
}

.header__profile {
  width: 2.8rem;
  height: 2.8rem;
}

.header__link {
  display: inline-block;
  border: 1px solid transparent;
  padding: 1.5rem;
  border-radius: 1.2rem;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-label-neutral-primary);
  -webkit-tap-highlight-color: transparent;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;
}

.header__auth {
  background-color: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;
  padding: 1.5rem;
  border-radius: 1.6rem;
  text-decoration: none;
  color: var(--color-label-neutral-primary);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;
}

@media (hover: hover) {
  .header__link:hover,
  .header__auth:hover {
    background-color: var(--color-interactive-brand-secondary);
    border-color: var(--color-interactive-brand-secondary);
    color: var(--color-interactive-brand-primary);
  }
}

@media (hover: none) {
  .header__link:hover {
    color: var(--color-label-neutral-primary);
  }
}

.header__link:active,
.header__link:focus-visible,
.header__auth:active,
.header__auth:focus-visible {
  background-color: transparent;
  border-color: var(--color-border-brand-strong);
  color: var(--color-interactive-brand-primary);
  outline: none;
}

.header__burger {
  display: none;
}

@media (max-width: 1200px) {
  .header__nav {
    width: 100%;
    margin: 0 4.7rem;
    padding: 0 1.6rem;
  }

  .header__logo {
    padding: 1.1rem;
  }

  .header__burger {
    position: relative;
    display: block;
    z-index: 250;
    width: 4.8rem;
    height: 4.8rem;
    padding: 1.2rem;
    border: none;
    background-color: transparent;
  }

  .header__burger:focus-visible {
    border-radius: 1.6rem;
    outline: 1px solid var(--color-border-brand-strong);
  }

  .header__burger:focus-visible span {
    background-color: var(--color-interactive-brand-primary);
  }

  .header__burger span {
    display: block;
    position: absolute;
    left: 1.5rem;
    height: 0.2rem;
    width: 1.8rem;
    background-color: var(--color-label-neutral-primary);
    transition: all 0.3s;
  }

  .header__burger span:nth-child(1) {
    top: 1.7rem;
  }

  .header__burger span:nth-child(2) {
    top: 2.3rem;
  }

  .header__burger span:nth-child(3) {
    top: 2.9rem;
  }

  .header__burger_open span {
    background-color: var(--color-label-neutral-inverted-primary);
  }

  .header__burger_open span:nth-child(1) {
    transform: rotate(45deg);
    top: 2.3rem;
    width: 2.4rem;
    left: 1.2rem;
  }

  .header__burger_open span:nth-child(2) {
    opacity: 0;
  }

  .header__burger_open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 2.3rem;
    width: 2.4rem;
    left: 1.2rem;
  }

  .header__burger_open:focus-visible {
    outline: 1px solid var(--color-label-neutral-inverted-primary);
  }

  .header__burger_open:focus-visible span {
    background-color: var(--color-label-neutral-inverted-primary);
  }

  .header__list {
    position: fixed;
    inset: 0;
    flex-direction: column;
    align-items: start;
    gap: 0;
    padding: 0 0 0 4rem;
    transform: translate(100%, 0);
    opacity: 0;
    background-color: var(--color-fill-brand-primary);
  }

  .header__list_animating {
    transition:
      transform 0.3s,
      opacity 0.3s;
  }

  .header__list_open {
    transform: translate(0, 0);
    opacity: 1;
  }

  .header__item:first-child {
    justify-content: start;
    flex-grow: 0;
  }

  .header__item:last-child {
    justify-content: start;
    flex-grow: 0;
    order: -1;
    padding: 3.4rem 0 1.4rem;
  }

  .header__item:nth-child(6) .header__link {
    width: 5.6rem;
    height: 5.6rem;
  }

  .header__profile {
    width: 2.4rem;
    height: 2.4rem;
  }

  .header__link {
    color: var(--color-label-neutral-inverted-primary);
  }

  .header__auth {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-label-neutral-inverted-primary);
  }

  @media (hover: hover) {
    .header__link:hover,
    .header__auth:hover {
      background-color: var(--color-interactive-brand-hover);
      border-color: var(--color-interactive-brand-hover);
      color: var(--color-label-neutral-inverted-primary);
    }
  }

  @media (hover: none) {
    .header__link:hover,
    .header__auth:hover {
      color: var(--color-label-neutral-inverted-primary);
    }
  }

  .header__link:active,
  .header__link:focus-visible,
  .header__auth:active,
  .header__auth:focus-visible {
    background-color: transparent;
    border-color: var(--color-label-neutral-inverted-primary);
    color: var(--color-label-neutral-inverted-primary);
  }
}

@media (max-width: 720px) {
  .header {
    top: 0.8rem;
    margin-top: 0.8rem;
  }

  .header__nav {
    width: 100%;
    margin: 0 1rem;
    padding: 0 0.4rem;
    border-radius: 2rem;
  }

  .header__logo {
    margin: 0.4rem 0;
    border-radius: 0.8rem;
  }

  .header__logo svg {
    width: 10rem;
    height: 3rem;
  }

  .header__list {
    padding: 0 0 0 2rem;
  }

  .header__item:last-child {
    padding: 1.1rem 0 0.3rem;
  }
}
