.styledHeader {
    height: 100px;
    width: 100%;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentWrapper {
    display: flex;
    align-items: center;
    max-width: 144rem;
    margin: auto;
    width: 100%;
}

.contentList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-grow: 1;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: medium;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}

.modalWrapper {
    width: 25rem;
    display: flex;
    justify-content: space-between;
}