* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1164px;
    width: 90%;
    margin: 0 auto;
}

.card__wrapper {
    margin-top: 104px;
    display: flex;
    justify-content: space-between;
}

.card__content {
    width: 100%;
    max-width: 727px;
}

.thirsname {
    font-size: 4.8rem;
    font-weight: 600;
}

.IF {
    font-size: 3.6rem;
    font-weight: 500;
}

.educ {
    margin-top: 16px;
}

.btn {
    background-color: #5E8BF4;
    color: white;
    padding: 12px 48px;
    border: none;
    border-radius: 16px;
    margin-top: 34px;
    cursor: pointer;
}

.img {
    width: 351px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    border-radius: 30px;
    overflow: hidden;
}

.textBold {
    margin-top: 72px;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.text {
    font-size: 2.4rem;
}

.subtitle {
    margin-top: 103px;
    font-size: 4.8rem;
    font-weight: 600;
}

.qualif__wrapper {
    display: flex;
    margin: 63px auto 86px auto;
    gap: 20px;
    justify-content: space-between;
}

.qualif__elem {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    width: 556px;
    padding: 40px;
    border-radius: 46px;
}

.qualif__title {
    color: #5E8BF4;
    font-size: 2.8rem;
    font-weight: 600;
}

.qualif__text {
    margin-top: 22px;
    font-size: 2.4rem;
    color: #7A7A7A;
}

@media screen and (max-width: 700px) {
    .thirsname {
        font-size: 40px;
        font-weight: 600;
    }

    .IF {
        font-size: 30px;
        font-weight: 500;
    }

    .textBold {
        margin-top: 60px;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    .text {
        font-size: 22px;
    }

    .subtitle {
        margin-top: 103px;
        font-size: 40px;
        font-weight: 600;
    }

    .qualif__wrapper {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .card__wrapper {
        flex-wrap: wrap;
    }

    .img {
        width: 351px;
        height: 351px;
        margin: 0 auto;
    }
}