@media (min-width: 320px) and (max-width: 730px){
  .grid {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    margin: 2.4rem auto 0 auto;
    width: 100%;
    max-width: 32rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 1rem;
  }
  .grid::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 0.1rem solid rgba(99, 101, 107, 0.16);
    border-radius: 2rem;
    padding: 2.4rem 1.2rem 1.6rem 1.2rem;
    box-sizing: border-box;
    min-width: 20rem;
    max-width: 20rem;
    flex-shrink: 0;
    gap: 1.2rem;
    margin: 0;
  }
  .imageWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
    position: relative;

  }
  .image {
    width: 100%; 
    height: 30rem;
    object-fit: fill;
    margin: 0 auto;
    /* position: absolute; */
  }
  .itemText {
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
    line-height: 2.2rem;
    margin: 0.8rem 0 0 0;
    color: #393939;
    word-break: break-word;
  }
}

@media (min-width: 730px) and (max-width: 1220px) {
  .grid {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    margin: 3.6rem auto 0 auto;
    max-width: 72rem;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .grid::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20rem;
    max-width: 20rem;
    flex-shrink: 0;
    padding: 1.6rem;
    box-sizing: border-box;
    border: 1px solid rgba(99, 101, 107, 0.16);
    border-radius: 2.8rem;
    gap: 1.6rem;
    background: white;
  }

  .content:first-child {
    margin-left: 2rem;
  }

  .content:last-child {
    margin-right: 2rem;
  }

  .imageWrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .itemText {
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
    line-height: 2.4rem;
    word-break: break-word;
    margin: 0;
  }
}

@media (min-width: 1220px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    margin: 3.6rem auto 0 auto;
    max-width: 120rem;
    justify-self: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1.6rem;
    box-sizing: border-box;
    border: 1px solid rgba(99, 101, 107, 0.16);
    border-radius: 2.8rem;
    max-width: 39rem;
    gap:1.6rem;
  }

  .imageWrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .itemText {
    font-size: 2rem;
    font-weight: 400;
    width: 29.2rem;
    text-align: center;
    list-style: 2.4rem;
    /* margin: 1.6rem 0 0.8rem 0; */
    word-break: break-word;
  }
}