.layout {
    overflow: hidden;
    min-height: 100vh;
    width: 100vw;
    background: #ffffff;
}
[data-theme='dark'] {
    .layout {
        background: #0c0d0d;
        color-scheme: dark;

    }
    h2 {
    color: #ffffff;
  }
}
