.hero {
  background-color: var(--color-fill-brand-tetriary);
}

.hero__inner {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 12rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 6.7rem;
}

.hero__title {
  grid-row: 1;
  align-self: end;
  font-weight: 600;
  font-size: 6rem;
  line-height: 6.8rem;
  letter-spacing: -0.03em;
  color: var(--color-label-brand-secondary);
}

.hero__text {
  grid-row: 2;
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--color-label-neutral-secondary);
}

.hero__image {
  grid-row: span 2;
  align-self: center;
  max-width: 59.9rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .hero__inner {
    padding: 0 5.7rem;
    gap: 2rem 2.4rem;
  }

  .hero__title {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  .hero__text {
    margin: 0 0 3.5rem 0;
    max-width: 39rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .hero__image {
    max-height: 32rem;
    max-width: 100%;
    width: auto;
  }
}

@media (max-width: 720px) {
  .hero__inner {
    padding: 2.4rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .hero__title {
    align-self: center;
    font-size: 3.6rem;
    line-height: 4.4rem;
    letter-spacing: -0.04em;
  }

  .hero__text {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

[data-theme='dark'] {
  .hero {
    background-color: var(--color-fill-neutral-primary);
  }

  .hero__title {
    color: var(--color-label-neutral-inverted-primary);
  }

  .hero__text {
    color: var(--color-label-neutral-inverted-primary);
  }
}
