.styledHeader {
    height: 100px;
    width: 100%;
    margin: auto;
    background-color: #5e8bf4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentWrapper {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    width: 100%;
}

.contentList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-grow: 1;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.modalWrapper {
    width: 250px;
    display: flex;
    justify-content: space-between;
}