.layout {
  display: grid;
  grid-template-columns: 28.8rem 1fr;
  gap: 2.4rem;
  max-width: 122.4rem;
  margin: 0 auto;
  padding: 4rem 2.4rem;
  min-height: calc(100vh - 8rem);
  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    gap: 2.4rem;
    padding: 2.4rem 1.6rem;
  }
}
// Из-за новой шапки всё сломалось, это моя попытка починить (в комментариях указано, что было до изменений):
.sidebarWrapper {
  position: sticky;
  // top: 4rem;
  top: calc(var(--header-height) + 4rem);
  height: fit-content;
  // @media (max-width: 1023px) {
  @media (max-height: 900px), (max-width: 1023px) {
    position: static;
  }
}
.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.section {
  margin-bottom: 6.4rem;
}
.sectionTitle {
  font: var(--font-h5);
  letter-spacing: var(--font-header-letter-spacing-h5);
  color: var(--color-label-neutral-primary);
  margin: 0 0 2.4rem 0;
}
.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 1.6rem;
  @media (max-width: 633px) {
    grid-template-columns: 1fr;
  }
}
.emptyText {
  font: var(--font-text-large);
  color: var(--color-label-neutral-secondary);
}
.h1 {
  font: var(--font-h2);
  margin-bottom: 2.4rem;
}
.dateInput {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.subButton {
  background-color: var(--color-interactive-brand-primary);
  color: var(--color-label-neutral-inverted-primary);
  font: var(--font-text-large-button);
  padding: 1.6rem;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
  margin-top: 1.6rem;
  &:hover {
    background-color: var(--color-interactive-brand-hover);
  }
}

.mainTab,
.appointmentsTab,
.profileTab,
.clientsTab,
.adminTab {
  width: 100%;
}

.comingSoon {
  font: var(--font-text-large);
  color: var(--color-label-neutral-secondary);
  font-style: italic;
  text-align: center;
  padding: 4rem 0;
}

.countBage {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.4rem;
  border-radius: 0.6rem;
  background-color: var(--color-fill-neutral-primary);
  color: var(--color-label-neutral-primary);
  font: var(--font-text-medium);
  min-width: 2.6rem;
}
.countBageActive {
  background-color: var(--color-fill-brand-primary);
  color: var(--color-label-neutral-inverted-primary);
  transition:
    background-color 0.3s,
    color 0.3s;
}

[data-theme='dark'] {
  .title {
    color: var(--color-label-neutral-inverted-primary) !important;
  }
  .sectionTitle {
    color: var(--color-label-neutral-inverted-primary);
  }
  .emptyText {
    color: color-mix(
      in srgb,
      var(--color-label-neutral-secondary),
      var(--color-label-neutral-inverted-primary)
    ) !important;
  }
  .countBage {
    color: var(--color-label-neutral-inverted-primary);
  }
}

@media (max-width: 600px) {
  .layout {
    padding: 0 10px 100px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  h2 {
    font-size: 2rem;
  }
  .detailsPanel {
    max-width: 100px;
  }

}

@media (min-width: 500px) and (max-width: 1024px) {
  .page {
    padding: 0 24px;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
  }
}