.link {
  display: block;

  &:hover,
  &:focus {
    .photo {
      scale: 1.03;
    }

    .title {
      color: var(--color-interactive-brand-primary);
    }
  }
}

.wrapper {
  position: relative;
  height: 100%;
  padding: 1.6rem 2.5rem 8rem;
  border-radius: 2rem;
  background-color: var(--color-fill-brand-quaternary);
}

.photoWrapper {
  overflow: hidden;
  border-radius: 2.4rem;
  margin-bottom: 2rem;
}

.photo {
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  transition: scale 0.5s;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  margin: 0 1.3rem 4.4rem 0;
}

.type {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--color-interactive-neutral-primary);
}

.date {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-interactive-neutral-primary);
}

.title {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.04em;
  color: var(--color-interactive-neutral-primary);
  transition: color 0.5s;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 1.2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-label-neutral-tetriary);
}

.externalLink {
  position: absolute;
  left: 3.5rem;
  bottom: 1.8rem;
  width: 2.5rem;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 1.6rem 2.5rem 6.4rem;
  }

  .cardHeader {
    margin: 0 0 3.6rem 0;
  }

  .title {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0;
  }

  .externalLink {
    bottom: 1.9rem;
  }
}

@media (max-width: 720px) {
  .wrapper {
    padding: 1.2rem 1rem 6.5rem;
  }

  .photoWrapper {
    margin-bottom: 1.2rem;
  }

  .cardHeader {
    gap: 1rem;
    margin: 0 0.9rem 3rem 0;
  }

  .type {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .title {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .externalLink {
    left: 1rem;
    bottom: 2.5rem;
    width: 2.3rem;
  }
}

[data-theme='dark'] {
  .wrapper {
    background-color: var(--color-fill-neutral-primary);
  }
  .type {
    color: var(--color-label-neutral-inverted-primary);
  }
  .date {
    color: var(--color-label-neutral-inverted-primary);
  }
  .title {
    color: color-mix(in srgb, var(--color-label-neutral-secondary), var(--color-label-neutral-inverted-primary));
  }
}
