.wrapper {
    max-width: 284px;
    width: 100%;
}

.photo {
    width: 284px;
    height: 284px;
    border-radius: 20px;
    background-size: cover;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.fio {
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    margin-top: 18px;
}

.education {
    color: #393939;
    font-size: 1.6rem;
}

.short_desc {
    color: #393939;
    font-size: 1.6rem;
}

.experience {
    font-size: 1.8rem;
    font-weight: 600;
}

.link {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
}

.arrow {
    margin-top: 10px;
}