.wrapper {
    padding: calc((1vh + 1vw) / 2);
    width: 100%;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 44px;
    width: 57px;
    transition: 0.2s;
    cursor: pointer;
}

.edit:hover {
    transform: scale(0.93);
}

.button {
    border: 0;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    color: red;
}