.featuresBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 0 40px;
    margin-top: 44px;
}

.featureItem {
    margin-bottom: 24px;
}


.title {
    margin: 0;
    font-size: 2.8rem;
}

.desc {
    font-size: 2.4rem;
}


.contentWrapper {
    display: flex;
    gap: 16px
}