@use '@/shared/scss/abstracts/breakpoints' as *;

.tabsContainer {
    display: flex;
    flex-direction: column;
}

.tabList {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: fit-content;

    &.fullWidth {
        justify-content: center;
        width: 100%;
    }

    @include past-tablet {
        gap: 1.2rem;
    }

    @include past-desktop {
        gap: 1.6rem;
    }
}
