@use '@/shared/scss/abstracts/breakpoints' as *;

.tabsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tabList {
  display: flex;
  gap: 1rem;

  &.fullWidth {
    justify-content: center;
  }
}

@include past-tablet {
  .tabsContainer {
    gap: 3.6rem;
  }

  .tabList {
    gap: 1.2rem;
  }
}

@include past-desktop {
  .tabsContainer {
    gap: 4.8rem;
  }

  .tabList {
    gap: 1.6rem;
  }
}
