@use '../abstracts/colors' as *;

/*
   В этом файле набросаны все переменные, которые только могут понадобятся по дизайну.

   Цвета в :root должны быть чётко обозначены и не вызывать лишних зависимостей.

   Переменные отвечающие за размеры, добавлять не следует.
   В фигме в первую очередь отображаются значения и их так проще брать.
   К тому же, хоть в дизайне есть система переменных, то там то тут проскакивают значения не по ним. 
*/

/*
   Поскольку вставить var в @media нельзя, то либо использовать 

   breakpoint-desktop: 1024px;
   breakpoint-tablet: 634px;
   примерные значения, подобранное ресайзом макета, тк официальных брейкпоинтов нет
   если что-то будет не сходится, то надо будет поправить
*/


:root {
  --color-background-neutral-primary: #{$neutral-0};
  --color-background-neutral-secondary: #{$neutral-50};
  --color-background-neutral-tetriary: #{$neutral-0};
  --color-background-neutral-inverted: #{$neutral-950};
  --color-background-brand-primary: #{$accent-brand-500};

  --color-label-neutral-primary: #{$neutral-900};
  --color-label-neutral-secondary: #{rgba($neutral-800, 0.72)};
  --color-label-neutral-tetriary: #{rgba($neutral-800, 0.52)};
  --color-label-neutral-quaternary: #{rgba($neutral-800, 0.32)};
  --color-label-neutral-inverted-primary: #{$neutral-0};

  --color-label-brand-primary: #{$accent-brand-600};
  --color-label-brand-secondary: #{$accent-brand-500};
  --color-label-brand-tetriary: #{$accent-brand-300};
  --color-label-brand-quaternary: #{$accent-brand-200};

  --color-label-danger-primary: #{$accent-status-red};
  --color-label-danger-secondary: #{rgba($accent-status-red, 0.72)};
  --color-label-danger-tetriary: #{rgba($accent-status-red, 0.52)};
  --color-label-danger-quaternary: #{rgba($accent-status-red, 0.32)};

  --color-label-warning-primary: #{$accent-status-orange};
  --color-label-warning-secondary: #{rgba($accent-status-orange, 0.72)};
  --color-label-warning-tetriary: #{rgba($accent-status-orange, 0.52)};
  --color-label-warning-quaternary: #{rgba($accent-status-orange, 0.32)};

  --color-label-success-primary: #{$accent-status-green};
  --color-label-success-secondary: #{rgba($accent-status-green, 0.72)};
  --color-label-success-tetriary: #{rgba($accent-status-green, 0.52)};
  --color-label-success-quaternary: #{rgba($accent-status-green, 0.32)};

  --color-interactive-brand-primary: #{$accent-brand-600};
  --color-interactive-brand-hover: #{$accent-brand-700};
  --color-interactive-brand-active: #{$accent-brand-900};
  --color-interactive-brand-secondary: #{$accent-brand-50};
  --color-interactive-brand-hover-secondary: #{$accent-brand-100};
  --color-interactive-brand-active-secondary: #{$accent-brand-200};
  --color-interactive-brand-disable: #{$neutral-100};

  --color-interactive-neutral-primary: #{$neutral-1000};
  --color-interactive-neutral-secondary: #{$neutral-50};
  --color-interactive-neutral-hover: #{$neutral-850};
  --color-interactive-neutral-hover-secondary: #{$neutral-100};
  --color-interactive-neutral-active: #{$neutral-700};
  --color-interactive-neutral-active-secondary: #{$neutral-150};
  --color-interactive-neutral-disable: #{$neutral-100};

  --color-fill-brand-primary: #{$accent-brand-500};
  --color-fill-brand-secondary: #{$accent-brand-200};
  --color-fill-brand-tetriary: #{$accent-brand-100};
  --color-fill-brand-quaternary: #{$accent-brand-50};

  --color-fill-danger-primary: #{rgba($accent-status-red, 0.12)};
  --color-fill-danger-secondary: #{rgba($accent-status-red, 0.08)};
  --color-fill-danger-tetriary: #{rgba($accent-status-red, 0.04)};
  --color-fill-danger-quaternary: #{rgba($accent-status-red, 0.02)};

  --color-fill-warning-primary: #{rgba($accent-status-orange, 0.12)};
  --color-fill-warning-secondary: #{rgba($accent-status-orange, 0.08)};
  --color-fill-warning-tetriary: #{rgba($accent-status-orange, 0.04)};
  --color-fill-warning-quaternary: #{rgba($accent-status-orange, 0.02)};

  --color-fill-success-primary: #{rgba($accent-status-green, 0.12)};
  --color-fill-success-secondary: #{rgba($accent-status-green, 0.08)};
  --color-fill-success-tetriary: #{rgba($accent-status-green, 0.04)};
  --color-fill-success-quaternary: #{rgba($accent-status-green, 0.02)};

  --color-fill-neutral-primary: #{rgba($neutral-600, 0.2)};
  --color-fill-neutral-secondary: #{rgba($neutral-600, 0.16)};
  --color-fill-neutral-tetriary: #{rgba($neutral-600, 0.08)};
  --color-fill-neutral-quaternary: #{rgba($neutral-600, 0.04)};
  --color-fill-neutral-none: #{$neutral-0};

  --color-border-neutral-strong: #{$neutral-950};
  --color-border-neutral-base: #{rgba($neutral-600, 0.16)};
  --color-border-neutral-soft: #{rgba($neutral-600, 0.08)};
  --color-border-neutral-ghost: #{rgba($neutral-600, 0.0001)};
  --color-border-neutral-inverted: #{$neutral-0};
  --color-border-neutral-disable: #{rgba($neutral-600, 0.32)};

  --color-border-brand-strong: #{$accent-brand-600};
  --color-border-brand-base: #{$accent-brand-200};
  --color-border-brand-soft: #{$accent-brand-100};

  --color-border-danger-strong: #{rgba($accent-status-red, 0.12)};
  --color-border-danger-base: #{rgba($accent-status-red, 0.2)};
  --color-border-danger-soft: #{rgba($accent-status-red, 0.12)};

  --color-border-warning-strong: #{$accent-status-orange};
  --color-border-warning-base: #{rgba($accent-status-orange, 0.2)};
  --color-border-warning-soft: #{rgba($accent-status-orange, 0.12)};

  --color-border-success-strong: #{$accent-status-green};
  --color-border-success-base: #{rgba($accent-status-green, 0.2)};
  --color-border-success-soft: #{rgba($accent-status-green, 0.12)};
}
