$breakpoint-desktop: 1024px;
$breakpoint-tablet: 634px;

// Да, тут нет screen. Но как будто бы никто для print и speech отдельно делать ничего не будет
@mixin desktop-specific {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin tablet-specific {
    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop - 1) {
        @content;
    }
}

@mixin mobile-specific {
    @media (max-width: $breakpoint-tablet - 1) {
        @content;
    }
}

@mixin past-tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin past-desktop {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}