@use '@/shared/scss/abstracts/breakpoints' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 0.1rem solid var(--color-border-neutral-base);
  padding: 1rem 0.8rem 1.6rem;
  border-radius: 2.8rem;
  background-color: var(--color-background-neutral-primary);
  transition:
    border-color 0.3s,
    background-color 0.3s;
}

.imageWrapper {
  position: relative;
  height: 28.8rem;
  border-radius: 2.4rem;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  left: 2.4rem;
  bottom: 1.8rem;
  font: var(--font-text-medium);
  font-weight: 500;
  padding: 0.8rem 1rem;
  border-radius: 100%;
  background-color: var(--color-background-neutral-primary);
  color: var(--color-label-brand-primary);
  transition: background-color 0.3s;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0 0.8rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0 0.8rem;
}

.title {
  font: var(--font-h4);
  letter-spacing: -0.05em;
  color: var(--color-interactive-neutral-primary);
  transition: color 0.3s;
}

.description {
  font: var(--font-text-medium);
  color: var(--color-label-neutral-tetriary);
  transition: color 0.3s;
}

.stats {
  display: flex;
  justify-content: space-around;
  max-width: 42.7rem;
}

.stat {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0 2.4rem;
}

.statValue {
  font: var(--font-text-medium);
  color: var(--color-label-brand-primary);
}

.statLabel {
  font: var(--font-text-small);
  color: var(--color-label-neutral-secondary);
  transition: color 0.3s;
}

.info {
  display: flex;
  gap: 2rem;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.infoIcon {
  width: 2.4rem;
  color: var(--color-label-neutral-primary);
  transition: color 0.3s;
}

.infoValue {
  font: var(--font-text-medium);
  color: var(--color-interactive-neutral-primary);
  transition: color 0.3s;
}

@include past-tablet {
  .badge {
    bottom: 1.4rem;
    font: var(--font-text-large-button);
  }

  .stats {
    justify-content: space-between;
    padding: 0 0.9rem;
  }

  .stat {
    padding: 0.8rem 0 1.2rem;
  }

  .statValue {
    font: var(--font-text-large);
  }

  .statLabel {
    font: var(--font-text-medium);
  }

  .info {
    gap: 2.5rem;
    padding: 0 1.2rem;
  }

  .infoValue {
    font: var(--font-text-large);
  }
}

@include past-desktop {
  .weapper {
    padding: 1rem 0.8rem 2.4rem;
  }

  .content {
    padding: 0 1.6rem;
  }

  .stats {
    padding: 0;
  }

  .stat {
    padding: 0.8rem 1rem 1.2rem;
  }

  .statValue {
    font: var(--font-text-large-button);
  }
}

.bottomSlot {
  margin-top: auto;
}

.button {
  width: 100%;
  padding: 1.6rem;
  border-radius: 1.6rem;
}

[data-theme='dark'] {
  .card {
    border-color: var(--color-border-neutral-inverted);
    background-color: var(--color-background-neutral-inverted);
  }

  .badge {
    background-color: var(--color-background-neutral-inverted);
  }

  .title {
    color: var(--color-label-neutral-inverted-primary);
  }

  .description,
  .statLabel {
    color: var(--color-interactive-neutral-active-secondary);
  }

  .infoIcon {
    color: var(--color-label-neutral-inverted-primary);
  }

  .infoValue {
    color: var(--color-label-neutral-inverted-primary);
  }
}
